*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,body
{
  height: 100%;
  width: 100%;

}



.main
{
  width: 100%;
  height: 100%;
  background-color: #111;
  background-image: url('https://imgs.search.brave.com/zB_i3yCjxDdxmNabnpvrVGvv6wbwCU-oo-HSWg9HQKc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxNi8w/OC8xMi8yMC8xNC9m/aWVsZHMtMTU4OTYx/M182NDAuanBn');

  background-size: cover;
  background-position: center;
}

.nav 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(150, 168, 168);
  
}

.nav i
{
  cursor: pointer;
  margin-right: 20px;
}

.full
{
  height: 100%;
  width: 40%;
  background-color: hsla(0, 0%, 100%, 0.466);
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(30px);
  padding: 80px;
  right: -40%;
}

.full h4
{
  font-size: 50px;
  margin-bottom: 10px;
  color: #111;
}

.full i
{
  position:absolute;
  right: 5%;
  top: 5%;
  font-size: 25px;
  font-weight: 800;
  color: #111;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}



